<li>

  {% if post.categories contains "database" %}
    <i class="fas fa-database" aria-hidden="true"></i>
  {% elsif post.categories contains "javascript" %}
    <i class="fab fa-js" aria-hidden="true"></i>
  {% elsif post.categories contains "php" %}
    <i class="fab fa-php" aria-hidden="true"></i>
  {% elsif post.categories contains "python" %}
    <i class="fab fa-python" aria-hidden="true"></i>
  {% elsif post.categories contains "sql" %}
    <i class="fas fa-database" aria-hidden="true"></i>
  {% elsif post.categories contains "terminal" %}
    <i class="fas fa-terminal" aria-hidden="true"></i>
  {% elsif post.categories contains "xml" or post.categories contains "html" %}
    <i class="fas fa-code" aria-hidden="true"></i>
  {% else %}
    <i class="fas fa-book-open" aria-hidden="true"></i>
  {% endif %}

  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  <span class="post-meta">{{ post.date | date: date_format }}</span>

  {{ post.content }}

</li>
<hr />
