body {
  font-size: 18px;
}

.metadata {
  margin-bottom: 8px;
  text-align: right;
}

h1.entry-title {
  margin-bottom: 6px;
}

a, a:visited, a:hover, a:active {
  color: #0d53a3;
}

blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-style: italic
}

code {
  background-color: #f8f8f8;
  font-weight: bold;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

pre.code.literal-block {
  padding: 0.5em;
}
